<section>
<h1>I ♥ Ruby!</h1>
<div class="bio">
I'm a committer on Ruby (MRI) and contributer to many other projects, including some of my own:
<ul class="projects">
<li><a href="https://github.com/marcandre/backports">backports</a>: today's Ruby in yesterday's implementations.</li>
<li><a href="https://github.com/marcandre/scheherazade">scheherazade</a>: clever and sexy fixture factory.</li>
<li><a href="https://github.com/marcandre/fruity">fruity</a>: easy micro-benchmarking.</li>

<div style="margin-top: 5px">
<a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://blog.marc-andre.ca"></a>
<noscript><a href="http://flattr.com/thing/1177153/Hash" target="_blank">
<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
</div>

</section>
